In [1]:
t=45
if(t>40)
    print("Sonuc dogru")

[1] "Sonuc dogru"

In [2]:
m=50
n=70
if(m>20)
    fark=n-m
cat("Sonuc",fark)

Sonuc 20

In [4]:
z=5
P=70
if(z>20)
    fark=p-z
cat("Sonuc",fark)
print("Sart Saglanamadi")

Sonuc 20[1] "Sart Saglanamadi"

In [10]:
notu=60
if (notu>50) { 
    print ("DEGER") 
}else{
    print ("KALIR") }

[1] "DEGER"

In [11]:
sayi=-15
if(sayi>0){
    print("Girilen Sayi Pozitiftir")
}else{
    print("Girilen Sayi Negatiftir")
}

[1] "Girilen Sayi Negatiftir"

In [12]:
x=5
if(x<0){
    print("Sayi negatiftir")
}else if(x>0){
    print("Sayi pozitiftir")
}else{
    print("Sayi sifirdir")
}

[1] "Sayi pozitiftir"

In [13]:
for(i in 1:5) #1 den 5 e kadar rakamlari ekrana yazdirir
    print(i)

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5

In [14]:
for (i in 4:12) #4 den 12 ye kadar rakamlari ekrana yazdirir
    print(i)

[1] 4
[1] 5
[1] 6
[1] 7
[1] 8
[1] 9
[1] 10
[1] 11
[1] 12

In [16]:
h=c(5,10,15,20,25,30,35) #vektor olusturuluyor
toplam=0                 #toplama islemlerinde baslangicta toplam degeri sifira esitlenmesi gerekir.
for (i in 1:length(h)){   #length() fonksiyonu ile h vektorunun uzunlugu hesaplaniyor
    toplam=toplam+h[i]
}
print(toplam) #vektor elemanlarinin toplami ekrana yazdiriliyor

[1] 140

In [19]:
x=c(2,5,8,11,14,23,45,88)
i=1                      #while yapisinda donguyu kontrol etmek icin indis degeri baslangicta 1'e esitlenir
while(x[i]<10)           #x vektorunun elemanlarinin indis degeri ile kontrol ediliyor
                         #10'dan kucuk olanlar ekrana yazdiriliyor
{
print(x[i])
i=i+i
}

[1] 2
[1] 5

In [1]:
n=10
toplam=0
i=1
while(i<=n)
{
    toplam=toplam+i
    i=i+1
}
print(toplam)

[1] 55

In [2]:
for(i in 1:10)
{
if(i==7)
break   #i=7 oldugunda donguden cikilir.
print(i)
}

[1] 1
[1] 2
[1] 3
[1] 4
[1] 5
[1] 6

In [ ]:
i=1
n=10
while (n!=i){ #n i'ye esit olmadigi surece dongu devam eder
       #if(i==4) #i 4 oldugunda donguden cikar
    #break
    print(i)
    i+i+1 
}

In [1]:
x=1:5
for(rakam in x){
    if(rakam==3){
        next #3 rakamini atla
    }
    print(rakam)
}

[1] 1
[1] 2
[1] 4
[1] 5

In [2]:
for(i in 1:10){
    if(i<=5){
        next #ilk bes rakamini 
    }
    print(i)
}

[1] 6
[1] 7
[1] 8
[1] 9
[1] 10

In [5]:
k=c(3,1,8,7,12)
y=c(5,2,3,8,6)
toplam=0
for(i in 1:length(y)){
    toplam[i]=k[i]+y[i] #her dongude indise karsilik gelen degerler toplanir
}
print(toplam)

[1]  8  3 11 15 18

In [6]:
k1=c(3,1,15,7,12)
y1=c(5,2,13,8,6)
toplam1=0
toplam1=k1+y1 #vektor elemanlari toplanir
print(toplam1)

[1]  8  3 28 15 18

In [7]:
adi=c("Hasan","Hulya","Ayse","Mehmet","Zehra")
cinsiyet=c("E","K","K","E","K")
boy=c(176,160,165,180,179)
kilo=c(75,55,58,80,61)
personel=data.frame(adi,cinsiyet,boy,kilo) #vektorler veri cercevesine donusturuluyor
personel

  adi    cinsiyet boy kilo
1 Hasan  E        176 75
2 Hulya  K        160 55
3 Ayse   K        165 58
4 Mehmet E        180 80
5 Zehra  K        179 61

In [8]:
kilo_ortalama=apply(personel[4],2,mean) #Cinsiyet ayrimi olmadan kilo ortalamasi hesaplaniyor
print(kilo_ortalama)

kilo
65.8

In [9]:
cinsiyet_kilo_ortalama=tapply(as.vector(personel[,4]),factor(personel[,2]),mean)
print(cinsiyet_kilo_ortalama)

   E    K
77.5 58.0

In [10]:
personel

  adi    cinsiyet boy kilo
1 Hasan  E        176 75
2 Hulya  K        160 55
3 Ayse   K        165 58
4 Mehmet E        180 80
5 Zehra  K        179 61

In [11]:
liste1=as.list(personel[,3:4]) #cercevenin 3. ve 4. sutunu liste olarak aliniyor
liste1

$boy
[1] 176 160 165 180 179

$kilo
[1] 75 55 58 80 61

In [12]:
lapply(liste1,mean)

$boy
[1] 172

$kilo
[1] 65.8

In [15]:
sapply(liste1,mean)
print(sapply(liste1,mean))

  boy  kilo
172.0  65.8

  boy  kilo
172.0  65.8