In [5]:
yas=c (25,16, 38,45) 
isim=c("Hasan", "zehra", "Kamil", "Hatice") 
adres=c("istanbul", "sakarya", "Ankara", "Mersin")

In [6]:
cerceve1=data.frame(yas, isim, adres) #olusturulan vektorler veri cercevesine donusturiluyor. 
cerceve1 #Veri cercevesi ekrana yazdiriliyor.

  yas isim   adres
1 25  Hasan  istanbul
2 16  zehra  sakarya
3 38  Kamil  Ankara
4 45  Hatice Mersin

# Veri Cercevesinin Satir ve Sutun Isimlerinin Degistirilmesi

In [7]:
cerceve2=data.frame (c(101,102,103), c("a","B","C")) 
cerceve2

  c.101..102..103. c..a....B....C..
1 101              a
2 102              B
3 103              C

In [8]:
colnames (cerceve2)=c ("Kodu", "Sinifi") 
cerceve2

  Kodu Sinifi
1 101  a
2 102  B
3 103  C

In [9]:
rownames (cerceve2)=c("1. sira","2. sira","3. sira") 
cerceve2

        Kodu Sinifi
1. sira 101  a
2. sira 102  B
3. sira 103  C

In [10]:
colnames (cerceve2) [1]="Ogrenci No" 
colnames (cerceve2) [2]="Grubu" 
cerceve2

        Ogrenci No Grubu
1. sira 101        a
2. sira 102        B
3. sira 103        C

# Veri Cercevesindeki Veriyi Goruntuleme

In [11]:
head (iris) #IRIS hazir veri setinin ilk alti satiri gériuntuleniyor.

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

In [12]:
str(iris) #iris verisinin igerig§i géruntuleniyor.

'data.frame':	150 obs. of  5 variables:
 $ Sepal.Length: num  5.1 4.9 4.7 4.6 5 5.4 4.6 5 4.4 4.9 ...
 $ Sepal.Width : num  3.5 3 3.2 3.1 3.6 3.9 3.4 3.4 2.9 3.1 ...
 $ Petal.Length: num  1.4 1.4 1.3 1.5 1.4 1.7 1.4 1.5 1.4 1.5 ...
 $ Petal.Width : num  0.2 0.2 0.2 0.2 0.2 0.4 0.3 0.2 0.2 0.1 ...
 $ Species     : Factor w/ 3 levels "setosa","versicolor",..: 1 1 1 1 1 1 1 1 1 1 ...

# Veri Cercevesindeki Oznitelikleri Elde Etme

In [13]:
yas=c (25,27, 38,43)

isim=c("ismail", "Nalan", "Melek", "Tahsin")

sehir=c("Konya", "Antalya", "Van", "Antalya")

cerceve3=data.frame (yas, isim, sehir) #vektorler veri cergevesine donisturuliyor. 
cerceve3

  yas isim   sehir
1 25  ismail Konya
2 27  Nalan  Antalya
3 38  Melek  Van
4 43  Tahsin Antalya

In [14]:
attributes (cerceve3) #cerceve3'un oz nitelikleri goruntiulenir.

$names
[1] "yas"   "isim"  "sehir"

$class
[1] "data.frame"

$row.names
[1] 1 2 3 4

In [15]:
attributes (cerceve3)$names #Uye adi ile, tiyenin &znitelikleri géruntulenir.

[1] "yas"   "isim"  "sehir"

In [16]:
attributes (cerceve3) [3] #Uye numarasi ile ilyenin &znitelikleri gériuntitlenir.

$row.names
[1] 1 2 3 4

In [17]:
rownames (cerceve3) #(ercevenin satir numaralari goruntulenir.

[1] "1" "2" "3" "4"

In [18]:
colnames (cerceve3) #Cercevenin sutun o6znitelikleri gériuntulenir.

[1] "yas"   "isim"  "sehir"

In [19]:
cerceve3[[3]] #cercevenin 3 nolu stitun deferleri géruntillenir.

[1] Konya   Antalya Van     Antalya
Levels: Antalya Konya Van

In [20]:
cerceve3[["yas"]] #yas siitiinuna ait veriler gérintulenir (satir olarak).

[1] 25 27 38 43

In [21]:
cerceve3[("yas")] #yas sutununa ait veriler goruntulenir (sutun olarak).

  yas
1 25
2 27
3 38
4 43

# Veri Cercevesinden Dilimleme Islemi

In [22]:
cerceve3

  yas isim   sehir
1 25  ismail Konya
2 27  Nalan  Antalya
3 38  Melek  Van
4 43  Tahsin Antalya

In [23]:
cerceve3[2,] #ikinci satir ve tum sutunlar goruntulenir

  yas isim  sehir
2 27  Nalan Antalya

In [24]:
cerceve3[2,3] # 2. satir 3. sutun goruntulenir

[1] Antalya
Levels: Antalya Konya Van

In [25]:
cerceve3[c(1,3),] #Belirlenen satirlar alinir.

  yas isim   sehir
1 25  ismail Konya
3 38  Melek  Van

In [27]:
cerceve3[,c(1,3)] #belirlenen sutunlar alinir.

  yas sehir
1 25  Konya
2 27  Antalya
3 38  Van
4 43  Antalya

# Veri Cercevesinde Satir ve Sutun Ekleme Islemleri

In [28]:
okul=c("SAU Vakif Koleji","Ugur","Ilke","Sahin") #Okul isimli bir vektor olusturuldu

In [29]:
cerceve3

  yas isim   sehir
1 25  ismail Konya
2 27  Nalan  Antalya
3 38  Melek  Van
4 43  Tahsin Antalya

In [30]:
cerceve4=cbind(cerceve3,okul) #olusturulan vektor, sutun olarak cerceve3'e eklendi ve cerceve4'e aktarildi.

In [31]:
cerceve4

  yas isim   sehir   okul
1 25  ismail Konya   SAU Vakif Koleji
2 27  Nalan  Antalya Ugur
3 38  Melek  Van     Ilke
4 43  Tahsin Antalya Sahin

In [34]:
satir=data.frame (yas=50, isim="Murat",sehir="Bolu",okul="TED") #satir adli bir cergeve olusturuldy

cerceve5=rbind(cerceve4, satir)  #olusturulan satir adli cerceve, cerceve4'e yani bir satir olarak eklendi 
# ve cerceve5’e aktarildi.

cerceve5

  yas isim   sehir   okul
1 25  ismail Konya   SAU Vakif Koleji
2 27  Nalan  Antalya Ugur
3 38  Melek  Van     Ilke
4 43  Tahsin Antalya Sahin
5 50  Murat  Bolu    TED

# Satir ve Sutun Silme İslemleri

cerceve6=cerceve5[,-1] #cerceve5'in birinci sutununu siler. Sonuc cerceve6'ya aktarilir.

In [42]:
cerceve5

  yas isim   sehir   okul
1 25  ismail Konya   SAU Vakif Koleji
2 27  Nalan  Antalya Ugur
3 38  Melek  Van     Ilke
4 43  Tahsin Antalya Sahin
5 50  Murat  Bolu    TED

In [44]:
cerceve6

ERROR: Error in eval(expr, envir, enclos): object 'cerceve6' not found

In [45]:
cerceve5[-2,] #ikinci satirini siler

  yas isim   sehir   okul
1 25  ismail Konya   SAU Vakif Koleji
3 38  Melek  Van     Ilke
4 43  Tahsin Antalya Sahin
5 50  Murat  Bolu    TED

In [46]:
cerceve5[,-c(1,3)] #1. ve 3. sutun silinir.

  isim   okul
1 ismail SAU Vakif Koleji
2 Nalan  Ugur
3 Melek  Ilke
4 Tahsin Sahin
5 Murat  TED

In [47]:
cerceve5

  yas isim   sehir   okul
1 25  ismail Konya   SAU Vakif Koleji
2 27  Nalan  Antalya Ugur
3 38  Melek  Van     Ilke
4 43  Tahsin Antalya Sahin
5 50  Murat  Bolu    TED

In [48]:
cerceve5[-c(2,4),] #2. ve 4. satirlari silinir.

  yas isim   sehir okul
1 25  ismail Konya SAU Vakif Koleji
3 38  Melek  Van   Ilke
5 50  Murat  Bolu  TED